{% extends "base.html" %}

{%block content%}
  <h1>{{mensaje}}</h1>
  <di class="">

{%for Libro in consulta%}

    <tr>

        <th><a href="/detalle/{{Libro.id}}/actualizar">{{Libro.id}}</a></th>
        <th><a href="/detalle/{{Libro.id}}/actualizar">{{Libro.nombre}}</a></th>
        <th><a href="/detalle/{{Libro.id}}/actualizar">{{Libro.autor}}</a></th>
        <th><a href="/detalle/{{Libro.id}}/actualizar">{{Libro.editorial}}</a></th>
        <th><a href="/detalle/{{Libro.id}}/actualizar">{{Libro.precio}}</a></th>
        <th><a href="/detalle/{{Libro.id}}/actualizar">{{Libro.ISBN}}</a></th>
    </tr>

    {%empty%}
  <li>No hay productos en existencia!</li>
{%endfor%}
  </di>
{%endblock%}
